@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.background{
    background-color: rgb(248, 248, 156);
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.number-1 {
    background-color: rgb(156, 192, 156);
    padding: 50px;
    margin: 20px 20px;
    font-size: 40px;
   
}
.number-2 {
    background-color: rgb(156, 192, 156);
    padding: 50px;
    margin: 20px 20px;
    font-size: 40px;
    flex-grow: 6;

}
.number-3 {
    background-color: rgb(156, 192, 156);
    padding: 50px;
    margin: 20px 20px;
    font-size: 40px;
}
.number-4 {
    background-color: rgb(156, 192, 156);
    padding: 50px;
    margin: 20px 20px;
    font-size: 40px;
}
.number-5 {
    background-color: rgb(156, 192, 156);
    padding: 50px;
    margin: 20px 20px;
    font-size: 40px;
}
.number-6 {
    background-color: rgb(156, 192, 156);
    padding: 50px;
    margin: 20px 20px;
    font-size: 40px;
}