@import '_colors.scss';

.wil-je-ons-volgen i {
    color: $media-color;
    font-size: 30px;
    margin: 0 5px;

    &:hover {
        color: $media-hover-color;
    }
}

.info-winkels li a {
    text-decoration: none;
    color: $secondary-color;

    &:hover {
        color: $secondary-hover-color;
    }
}