@import '_button.scss', '_colors.scss';

main {
    height: 70vh;
    margin: 0;
}

footer {
    display: flex;
    flex-wrap: wrap;
    margin: 1em auto;
    padding: 1em;
}

footer>* {
    flex: 1 1 10em;
}


.info-winkels {
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;

    h3,
    ul {
        margin: 0 6.25em 0 0;
        padding: 0;

        li {
            list-style-position: outside;
            padding: 0;
            list-style: none;
            color: $secondary-color;
        }
    }
}

.info-winkels>* {
    flex: 1 1 10em;
}

.social-media {
    margin-top: 1em;
}