@import '_button.scss', '_colors.scss';

main {
    height: 70vh;
    margin: 0;
}

footer {
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
    padding: 10px;
}

footer>* {
    flex: 1 1 10em;
}


.info-winkels {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;

    h3,
    ul {
        margin: 0 100px 10px 0;
        padding-left: 0;

        li {
            list-style-position: outside;
            padding: 0;
            list-style: none;
            color: $secondary-color;
        }
    }
}

.info-winkels>* {
    flex: 1 1 10em;
}

.social-media {
    margin-top: 10px;
}