@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.container {
    height: 300px;
    width: 300px;
}

.ball1 {
    position: relative;
    height: 200px;
    width: 200px;
    background-color: #000;
    border-radius: 50%;
}

.ball1::after {
    position: relative;
    height: 50px;
    width: 50px;
    top: 0;
    right: 0;
}