@import '_button.scss', '_colors.scss', '_images.scss';

body {
    background-color: $primary-color;
}

p {
    color: $secondary-color;

}

.est-bezorg-tijd {
    color: $est-tijd;
}

.prijs {
    color: $prijs-color;
    font-weight: 1000;
}

.product {
    display: flex;
    justify-content: space-between;
    height: 200px;
    width: 80%;
    margin: 0 auto;
}

.product-beschrijving {
    margin-left: 10px;
    padding: 40px 0;
}


.afbeelding-product {
    height: $image-height;
    width: $image-width;
    margin: auto 0;
    background-color: lightgrey;
}

.winkel-wagen {
    display: flex;
    flex-direction: column;
    padding: 40px 0;
}

.winkel-wagen span,
.winkel-wagen div {
    margin: 5px;
}