$product-primary-color: white;
$product-secondary-color: grey;
$product-button-color: yellow;
$product-button-hover-color: khaki;
$product-prijs-color: red;
$product-est-tijd: limegreen;
$footer-primary-color: #fff;
$footer-secondary-color: #d3d3d3;
$footer-secondary-hover-color: #a9a9a9;
$footer-media-color: #0077b6;
$footer-media-hover-color: #0096c7;