$pagination-primary-color: #fefae0;
$pagination-secondary-color: #dda15e;
$pagination-button-color: purple;
$pagination-button-hover-color: violet;
$navbar-primary-color: white;
$navbar-secondary-color: purple;
$login-primary-color: #fff;
$login-secondary-color: #d3d3d3;
$login-button-color: #0077b6;
$login-button-hover-color: #00b4d8;
$product-primary-color: white;
$product-secondary-color: grey;
$product-button-color: violet;
$product-button-hover-color: palevioletred;
$product-prijs-color: red;
$product-est-tijd: limegreen;
$footer-primary-color: #fff;
$footer-secondary-color: #d3d3d3;
$footer-secondary-hover-color: #a9a9a9;
$footer-media-color: #0077b6;
$footer-media-hover-color: #0096c7;