@import 'components/_button.scss', 'base/colors', 'components/_images.scss', 'base/_reset';

nav {
    &.navigation {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 5rem;
        background-color: $navbar-secondary-color;
        margin-bottom: 3rem;


    }

    li {
        list-style-type: none;
        font-size: 30px;
        overflow: hidden;

        i,
        a {
            color: $navbar-primary-color;
            list-style: none;
            text-decoration: none;
            margin: 0 10px;
        }
    }

    .menu-bar {
        display: flex
    }

    .container-navbar {
        display: none;
        cursor: pointer;
        height: 100%;
        width: 30px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $navbar-primary-color;
    }

    #toggle-menu {
        display: none;

        &:checked+.container-navbar .menu-button {
            background-color: $navbar-secondary-color;
        }

        &:checked+.container-navbar .menu-button::before {
            margin-top: 0;
            transform: rotate(405deg);
            background-color: $navbar-primary-color;
        }

        &:checked+.container-navbar .menu-button::after {
            margin-top: 0;
            transform: rotate(-405deg);
            background-color: $navbar-primary-color;
        }
    }

    .menu-button,
    .menu-button::before,
    .menu-button::after {
        display: block;
        background-color: $navbar-primary-color;
        position: absolute;
        height: 5px;
        width: 30px;
        transition: transform 500ms cubic-bezier(0.23, 1, 0.32, 1);
        border-radius: 5px;
    }

    .menu-button::before {
        content: '';
        margin-top: -10px;
    }

    .menu-button::after {
        content: '';
        margin-top: 10px;
    }



}

main {
    transform: translateY(100px);

    .login {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;

        img {
            height: 250px;
            width: 250px;
            border: 0;
            border-radius: 10%;
        }

        h1 {
            text-align: center;
        }

        h2 {
            text-align: center;
            color: $login-secondary-color;
            font-weight: 10;
        }

        a {
            text-decoration: none;
            color: $login-button-color;
        }

        .input-tekst {
            position: relative;
            width: 300px;
        }

        .input-tekst input {
            border: 0;
            border-bottom: 1px black solid;
            display: block;
            width: 100%;
            padding: 30px 0 5px 0;
        }

        input:focus {
            outline: 0;

        }

        .remember-forget {
            display: flex;
            justify-content: space-between;
            padding: 15px 0;
        }
    }

    p {
        color: $product-secondary-color;
    }

    .product-cards {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
    }



    .container-product {
        &.product {
            display: flex;
            width: 90%;
            margin: 0 auto;

            .product>*:nth-child(1) {
                flex: 1 1 25%;
                min-width: 10.3125em;
            }

            .product>*:nth-child(2) {
                flex: 1 1 50%;
            }

            .product>*:nth-child(3) {
                flex: 1 1 25%;

            }
        }

        .afbeelding-product {
            height: $image-height;
            width: $image-width;
            margin: auto 0;
        }

        .product-beschrijving {
            margin: 0 2.5em;
            padding: 2.5em 0;
        }

        .winkel-wagen {
            display: flex;
            flex-direction: column;
            padding: 2.5em 0;
        }

        .winkel-wagen span,
        .winkel-wagen div {
            margin: 0.3125em;
        }

        .est-bezorg-tijd {
            color: $product-est-tijd;
        }

        .prijs {
            color: $product-prijs-color;
            font-weight: 1000;
        }

        .cent {
            font-size: 70%;
            position: relative;
            bottom: 0.3rem;
        }
    }

    .container-pagination {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;

        .page {
            color: $pagination-secondary-color;
            padding: 1rem 2rem;
            display: flex;
            align-items: center;
            justify-content: center;

            &.active {
                border: 1px solid $pagination-button-hover-color;
            }

        }
    }

    .btn-pagination {
        background-color: $pagination-button-color;
        color: $pagination-primary-color;
        cursor: pointer;
        padding: 1rem 2rem;
        margin: 0.25rem;

        &:active {
            transform: scale(0.95);
        }

        &:hover {
            background-color: $pagination-button-hover-color;
            outline: 0;
        }
    }




}

// footer {
//     display: flex;
//     flex-wrap: wrap;
//     margin: 1rem auto;
//     padding: 1rem;

//     &>* {
//         flex: 1 1 30rem;
//     }

//     .accordion-toggle {
//         display: none;
//     }

//     .info-winkels {
//         margin-top: 0;
//         display: flex;
//         flex-wrap: wrap;

//         h3,
//         ul {
//             margin: 0 6.25rem 0 0;
//             padding: 0;

//             li {
//                 list-style-position: outside;
//                 padding: 0;
//                 list-style: none;
//                 color: $footer-secondary-color;
//             }

//             &>* {
//                 flex: 1 1 10rem;
//             }
//         }
//     }

//     .social-media {
//         margin-top: 1rem;
//     }
// }

@media (max-width: 700px) {
    body {
        overflow-x: hidden;
    }

    .navigation {
        position: relative;
        top: 0;
        left: 0;
        margin: 0;
        z-index: 10;
        background-color: $navbar-secondary-color;

        .container-navbar {
            display: flex;
            margin-right: 20px;
        }

        .menu-bar {
            position: absolute;
            flex-direction: column;
            left: 0;
            right: 0;
            justify-content: center;
            transform: translateX(400vw);
            transition: transform 100ms linear;
        }


        #toggle-menu:checked~.menu-bar {
            z-index: -10;
            top: 80%;
            transform: translateX(0);
            background-color: $navbar-secondary-color;

            & li {
                height: 2.5rem;
                padding: 0.5rem;

                &:nth-of-type(1) {
                    transform: translateX(0);
                    transition: transform 100ms linear;
                }

                &:nth-of-type(2) {
                    transform: translateX(0);
                    transition: transform 200ms linear;
                }

                &:nth-of-type(3) {
                    transform: translateX(0);
                    transition: transform 300ms linear;
                }
            }

        }


        #toggle-menu~.menu-bar li {
            width: 100%;
            margin: 0;
            padding: 0;
            border: 0;
            transform: translateX(400%);
            transition: transform 100ms linear;
        }
    }


    main {
        transform: translateY(250px);

        .login {
            margin-bottom: 200px;
        }

        .container-product {
            display: flex;

            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin: 0 auto;

            &#product-een,
            &#product-twee,
            &#product-drie {
                visibility: hidden;
            }

            .afbeelding-product {
                height: $image-height;
                width: $image-width;
                margin: auto 1em;
            }

            .product>* {
                flex: 1 1 165px;
            }

            .product-beschrijving {
                margin: 1em;
                padding: 0 2.5em;
            }

            .winkel-wagen {
                display: flex;
                flex-direction: column;
                padding: 0 2.5em;
                margin: 1em;
            }
        }

        .container-pagination {
            transform: scale(0.75);
        }
    }

    footer {
        transform: translateY(250px);
        margin: 0 auto;

        .toggle {
            background-color: transparent;
            border: 1px solid purple;
            border-radius: 10px;
            margin: 20px 0;
            padding: 30px;
            position: relative;
            overflow: hidden;
            transition: 500ms ease;
        }

        .toggle.active {
            background-color: #fff;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
        }

        .toggle.active::before,
        .toggle.active::after {
            content: url('https://techgrounds.nl/wp-content/uploads/2022/05/TG-logo-300x60.png');
            color: purple;
            position: absolute;
            opacity: 0.3;
            top: 20px;
            left: 20px;
        }

        .toggle.active::before {
            top: -10px;
            left: -30px;
            transform: rotateY(180deg);
        }

        .toggle li {
            display: none;
            margin: 0 0;
        }

        .toggle h3 {
            margin: 0 0;
        }

        .toggle.active li {
            display: block;
        }

        .accordion-toggle {
            background-color: transparent;
            border: 0;
            border-radius: 50%;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            position: absolute;
            top: 30px;
            right: 30px;
            width: 30px;
            height: 30px;
        }

        .accordion-toggle:focus {
            outline: 0;
        }

        .accordion-toggle .fa-times {
            display: none;
        }

        .toggle.active .accordion-toggle .fa-times {
            color: #fff;
            display: block;
        }

        .toggle.active .accordion-toggle .fa-plus {
            display: none;
        }

        .toggle.active .accordion-toggle {
            color: #fff;
            background-color: purple;
        }



    }
}