@import '_button.scss';

.container {
    font-family: 'open-sans';
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    margin: 0;

    &:hover {
        transform: scale(2);
    }

}

.search-bar {
    display: flex;
    border: 0;

    &:focus {
        outline: 0;
    }


}