@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


/* universal */
* {
    color: darkgreen;
}
/* attribute */
h1 {
    color: blue;
}

/* child */
ul > li {
    color: purple;
}

/* adjacent sibling */
li:first-of-type + li {
    color: red;
  }

/* general sibling */
ul ~ p {
    color: orange;

}